* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.hide {
  display: none;
}

/* ============header section style=========== */
.header-section {
  width: 100%;
  height: auto;
  background: rgba(255, 144, 14, 0.1);
}
.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.navbar-title {
  height: 53px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 35px;
  color: #131313;
}
.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
.navbar-links ul li a {
  font-family: "Work Sans";
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: #424242;
}

.header-banner {
  width: 80%;
  margin: 0 auto;
}
.text-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
}
.text-details {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.banner-title h1 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #131313;
}
.banner-title {
  margin-bottom: 30px;
}
.banner-description {
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 30px;
}
.btn-primary {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding: 18px 20px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
}
.img-section {
  width: 80%;
  height: auto;
  margin: 40px auto;
}
.img-section img {
  width: 100%;
  object-fit: cover;
}

/* =============main section style=============== */

/* =========Features section=========== */
.Features-container {
  width: 100%;
  height: 100vh;
}
.Features-sub-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-left: 65px;
}
.Features-gallery {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.Features-gallery img {
  width: 100%;
  border-radius: 10px;
}

.features-details {
  width: 30%;
  height: 270px;
}
.features-title {
  width: 358px;
  margin-bottom: 20px;
}
.first-span {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 35px;
  color: #727272;
}
.second-span {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 35px;
  color: #131313;
}
.third-span {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #ff900e;
}
.features-description {
  margin-bottom: 20px;
  font-family: "Work Sans";
  line-height: 20px;
  color: #727272;
}

/* ================Experience-section============ */
.Experience-section {
  width: 100%;
  margin-top: 80px;
}
.Experience-container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
.Experience-sub-container {
}
.Experience-title {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  color: #131313;
  border-left: 4px solid #ff900e;
  padding-left: 10px;
  margin-bottom: 20px;
}
.Experience-details,
.details-more-text {
  font-family: "Work Sans";
  line-height: 20px;
  color: #727272;
  margin-bottom: 20px;
}
.Experience-details-container {
  width: 60%;
}
.Experience-details-more {
  width: 586px;
  height: 125px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.Experience-details-more h4 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #131313;
  margin-bottom: 8px;
}

.img-container {
  width: 100%;
  position: relative;
}
.architect-img img {
  width: 100%;
  height: auto;
}
.btn-success {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding: 48px 17px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
  width: 200px;
  height: 120px;
  text-align: center;
  position: absolute;
  bottom: 27px;
  right: 289px;
}
.span-text {
  font-weight: 700;
  font-size: 45px;
}

/* responsive mobile device */
/*  */

@media only screen and (max-width: 576px) {
  /* ============header section=============== */
  .header-section {
    padding-right: 13px;
  }
  .header-banner {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .navbar {
    width: 100%;
  }
  .navbar-title {
    margin-left: 20px;
    height: 110px;
    font-size: 30px;
  }
  .navbar-links ul {
    flex-direction: column;
    gap: 10px;
    height: 140px;
  }
  .text-container {
    width: 100vw;
    margin-top: 20px;
    margin-left: 20px;
  }
  .banner-title h1 {
    font-size: 35px;
  }
  .text-details {
    text-align: start;
    margin: 0;
    width: 95%;
  }
  .img-section {
    width: 91%;
  }

  /* =============main section responsive============= */

  /* =========Features section=========== */
  .Features-container {
    width: 100%;
    height: auto;
  }
  .Features-sub-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 35px;
    padding-left: 20px;
  }
  .Features-gallery {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-left: 49px;
  }
  .features-details {
    width: 95%;
    text-align: center;
    height: 273px;
  }
  .features-title {
    margin: auto;
  }

  /* ================Experience-section============ */
  .Experience-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .Experience-container {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 10px;
    margin-top: -66px;
  }
  .Experience-title {
    font-size: 29px;
    line-height: 43px;
    margin-bottom: 23px;
  }
  .Experience-details-more {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 30px;
  }
  .Experience-details-container {
    width: 100%;
  }
  .btn-success {
 bottom: -38px;
    right: 90px;S
  }
}
